.banner-header {
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    border: 2px transparent solid;
    transition: transform 450ns;
    overflow-x: hidden;
    overflow-y: hidden;
    justify-content: center;
}

.banner-header:hover {
    border: 4px solid white;
    cursor: pointer;
    overflow-x: hidden;
}

.content {
    font-size: 30px;
    margin: 0 20px;
    color: white;
    opacity: 1;
}

.description {
    font-size: 20px;
    margin: 0 20px;
    color: white;
    opacity: 1;
    max-width: 500px;
}

.button {
    display: flex;
    border: none;
    outline: none;
    margin: 0 5px;
}

.playbutton:hover {
    background-color: white;
    transition: all .2s;
    color: #111;
    opacity: 1;
}

.trailerbutton:hover {
    background-color: white;
    transition: all .2s;
    color: #111;
    outline: none;
    opacity: 1;
}

.playbutton {
    opacity: .6;
    text-align: center;
    margin-left: 20px;
    background-color: #111;
    color: white;
    cursor: pointer;
    width: 100px;
    height: 40px;
    display: grid;
    place-items: center;
    outline: none;
    box-sizing: border-box;
    font-weight: bold;
}

.trailerbutton {
    opacity: .6;
    box-sizing: border-box;
    width: 100px;
    height: 40px;
    text-align: center;
    margin-left: 20px;
    background-color: #111;
    color: white;
    display: grid;
    place-items: center;
    cursor: pointer;
    outline: none;
    font-weight: bold;
}